<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p class="lead text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iusto molestias vero dignissimos voluptatem sit ea modi maxime pariatur distinctio dolore ex praesentium, impedit reprehenderit minima tempora facilis nisi quaerat nesciunt? Odit delectus, voluptates eum ipsa ex aperiam aliquid labore veritatis obcaecati. Magni temporibus quidem vero in! Sapiente non soluta quod culpa vero labore alias voluptatibus velit pariatur ullam? Eum repellat delectus labore reprehenderit commodi laborum placeat voluptate, eligendi vitae cum cumque fuga, sint aliquam odit non omnis adipisci animi enim magnam sunt! Minus a, nisi veniam asperiores, quidem nemo vel culpa tenetur inventore blanditiis quibusdam sint necessitatibus reiciendis eligendi eos labore doloremque obcaecati natus sapiente accusamus sunt in iusto incidunt! Atque optio quidem animi labore ab, voluptate neque quaerat soluta illum dicta sunt dolorem officiis temporibus veniam eos mollitia laboriosam voluptatibus magnam eligendi a quae! Tempora modi nulla omnis molestiae at? Provident numquam asperiores atque, cum quis quod veritatis!</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vitae aperiam consequatur dolorem. Provident perspiciatis nobis quas unde ullam enim porro reprehenderit voluptates! Odit eligendi autem, laboriosam dolorum assumenda dignissimos temporibus similique fugit non repudiandae aliquid velit dolor voluptatibus consequuntur a itaque! Nisi debitis, odit nesciunt aperiam fugiat quam porro asperiores voluptatibus doloribus? Tempore eos reiciendis nobis quo quod in iusto possimus perferendis, asperiores, explicabo quia eligendi ab sed quasi debitis cupiditate soluta magni nostrum.</p>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor pariatur sapiente nesciunt maxime aliquid itaque doloremque quaerat veritatis facere, enim perspiciatis distinctio iusto vitae soluta. Explicabo ipsa minima quae placeat asperiores, nostrum corrupti beatae inventore quam corporis molestiae autem itaque quibusdam similique dicta sequi at earum natus officiis eaque deleniti repellendus totam perferendis. Ducimus vero aliquam natus ratione, dolorem cupiditate, ab excepturi doloribus aliquid, doloremque placeat alias veritatis quibusdam explicabo delectus illum assumenda! Consequuntur aperiam ipsum ut modi, quasi et doloremque adipisci officia blanditiis. Sunt nemo sit natus ad neque.</p>
    <%- include('footer') -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      
    </body>
</html>
